form {
  display: none;
}
a>span {
  font-size: 70%;
}
ul{
  padding: 0;
}
li {
  list-style-type: none;
}
li a {
  display: block;
  text-decoration: none;
  color: black;
  padding: 1em;
  cursor: pointer;
}
li a:hover {
  background-color: LightGray;
}
li span {
  display: block;
}